*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
    --color-error:  #ed2929;
}
.inputs p{
    font-size: 10px;
    color: var(--color-error);
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    align-items: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: 4px 0;
    background: #111;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
.error_input{
    border: 1px solid var(--color-error);
}
input:focus{
    background-color: #000;
    /* transform: scale(1.1); */
    padding: 6px;
}
.price input{
    width: 20%;
}
#total{
    background: var(--color-error);
    padding: 4px 2px;
    border-radius: 4px;
}
#total::before{
    content: "المجموع:";
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(98, 95, 95, 0.5);
    border-radius: 20px;
    color: black;
    transition: 0.5s;
}
button:hover{
   background-color: #748D92;
   transition: width .5s, height 0.5s;
}
.btnSearch{
    display: flex;
}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#deleteAll{
    margin: 20px 0;
}

.dont_serch{
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 700px;
    height: 100px;
}
.none{
    display: none;
}
.icon_cancel{
    position: relative;
    top: 10px;
}
td.date {
    font-size: 11px;
    text-align: right;
}