
body{
    background-color: #0e0e0e;
    display: block;
    position: relative;
    font-size: 0.857rem;
    font-weight: 400;
    letter-spacing: 0rem;
    line-height: 1.4285714286;
    margin: 0;
    padding: 0;
}
.continer{
    /* width: 100%;
    height: 200vh;
    display: flex;
    margin-top: 200px;
    text-align: center;
    flex-direction: column; */
    display: flex;
    flex-wrap: 1;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

}
input{
   border-radius: 4px;
   color: rgb(227 227 227 / 1);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 16px;
   height: 28px;
   margin: 1px 1px 0 1px;
   padding: 13px 15px;
   z-index: 1;   
}
input:focus{
    outline: auto;
    border: none;
    
}
button{
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 55px;
    margin: 10px;
}